.cardJob-Wrapper-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cardJob-info {
  display: inline-block;
  width: 75px;
  text-align: center;
  padding: 0.25em 0.75em;
  font-weight: bold;
}

.cardJob-info p {
  color: #4f98d3;
  margin: 0.25em;
}
