.cardJob-Wrapper-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0.75em 0;
  box-sizing: border-box;
}
.cardJob-info {
  display: inline-block;
  width: 240px;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
  padding: 0.5em 0.75em;
  margin: 0.25em 0;
}

.cardJob-info p {
  color: #4f98d3;
  margin: 0.25em;
}
