@media (max-width: 600px) {
  .jobDetailPopUp {
    position: absolute;
    width: auto;
    left: 5%;
    right: 5%;
    top: 22%;
  }
}
.apply {
  text-align: center;
}
.apply > p {
  color: blue;
  font-size: 1.3em;
  font-weight: 800;
}

.assigned {
  border-top: 1px solid lightblue;
  border-bottom: 1px solid lightblue;
  text-align: center;
  color: rgb(0, 104, 0);
  text-transform: uppercase;
  padding: 0.75em 0;
  font-weight: bold;
}
.not {
  color: rgba(226, 45, 45, 0.829);
}

.applicants {
  color: #4f98d3;
  font-weight: bold;
}

.worker {
  border-top: 1px solid lightblue;
  border-bottom: 1px solid lightblue;
  text-align: center;
  color: #4f98d3;
  font-weight: bold;
  padding: 0.5em 0;
}
.unAssigned {
  font-weight: 500;
}
.iconCloseR {
  /* text-align: end; */
  position: absolute;
  right: 10px;
}
