.name {
  color: black;
  display: block;
  margin: 0.5em;
}

.name .info {
  color: #1c7bc9;
  font-weight: bold;
}

.Wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.freelance {
  color: green;
}
.not-freelance {
  color: orange;
}
