.name {
  color: black;
  display: block;
  margin: 0.5em;
}

.name .info {
  color: #1c7bc9;
  font-weight: bold;
}

.Wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.freelance {
  color: rgb(46, 124, 88);
}
.not-freelance {
  color: orange;
}
.nurseWelcome {
  text-align: center;
  font-size: 1.3em;
  color: #1c7bc9;
  font-weight: bold;
}
